@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 62.5%;
    --long-main-color: green;
    --short-main-color: red;
    --color-base-bg: rgb(240, 240, 240);
    --color-second-bg: #E5E4E2;
    --color-input-bg: rgb(255, 255, 255);
    --color-base-text: rgb(18, 18, 18);
    --theme-name: "light";
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-base-bg: #121212;
        --color-second-bg: rgb(33, 33, 33);
        --color-input-bg: rgb(0, 0, 0);
        --color-base-text: rgb(255, 255, 255, 0.87);
        --theme-name: "dark";
    }
}

::placeholder {
    color: var(--color-base-text);
    opacity: 0.65;
}

* {
	padding: 0;
	margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base-bg);
    color: var(--color-base-text);

    > body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        > #page-title {
            font-size: max(4vw, 2.5rem);
        }
    }
}

.container {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap-reverse;

    > .left-side {
        width: max(30rem, 30vw);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;

        > .trade-type {
            display: flex;
            justify-content: space-between;

            > button {
                width: 100%;
                background-color: var(--color-second-bg);
                color: var(--color-base-text);
                border: 0;
                padding: 1rem 0;
                cursor: pointer;
            }

            > .long {
                color: white;
                background-color: var(--long-main-color);
            }

            > .short {
                color: white;
                background-color: var(--short-main-color);
            }
        }

        & .fee-container {
            display: flex;
            gap: 0.5rem;
        }

        & input {
            background-color: var(--color-input-bg);
            color: var(--color-base-text);
            box-sizing: border-box;
            width: 100%;
            padding: 0.5rem;
        }

        & input:focus {
            outline-color: var(--long-main-color);
        }

        & .short-input:focus {
            outline-color: var(--short-main-color);
        }
    }

    > .right-side {
        width: max(30vw, 30rem);
        padding: 1rem;
        background-color: var(--color-second-bg);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        :first-child {
            align-self: center;
        }

        > .result.row {
            display: flex;
            justify-content: space-between;

            > .result-group {
                display: flex;
                gap: 0.5rem;
            }
        }

        & #result-margin {
            color: var(--color-base-text);
        }

        & .profit {
            color: var(--long-main-color);
        }

        & .loss {
            color: var(--short-main-color);
        }
    }
}